---
---

@import "{{ site.theme }}";

.display tr > * {
	background-color: #252525;
	color: #e8e8e8;
}
.dataTables_filter > * {
	color: #e8e8e8;
}
.head-box {
	max-width: 650px;
	background-color: #252525;
	margin: auto;
	display: flex;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #434343;
}
.nav-item {
	flex: 1;
	height: 60px;
	line-height: 60px;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #434343;
	padding-right: 20px;
	padding-left: 20px;
}
.head-item {
	flex: 1;
	height: 60px;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #434343;
	padding-right: 20px;
	padding-left: 20px;
}
